<div id="<%= dom_id message %>" class="message" data-categories-target="message" data-category="<%= message.category %>">
  <p class="message">
    <strong><%= message.user.pseudo %>:</strong>
    <%= message.content %>
  </p>
</div>
