<div data-controller="categories">
  Canaux de discussion :
  <label>
    <input type="checkbox" data-action="categories#toggleCategory" value="general" checked>
    Général
  </label>
  <label>
    <input type="checkbox" data-action="categories#toggleCategory" value="business" checked>
    Commerce
  </label>