.messages-container {
  height: 100px;
  overflow-y: auto;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin-bottom: 0;
}

.new-message-container {
  width: 100%;
  display: flex;
}

#message_content {
  width: 100%;
}